body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 3em;
}

/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: slategray;
  color: black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

